
.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-self: center;

}

.password_top{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
}
.List{
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{

   height: auto;
   box-sizing: border-box;
}